@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic");
@import url("../css/material-design.css");
/*========================================================
                        Camera
=========================================================*/
.camera_container {
  position: relative;
  padding-bottom: 54.29268293%;
}
@media (max-width: 644.65408805px) {
  .camera_container {
    padding-bottom: 350px;
  }
}
.camera_wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 0 !important;
  height: 100%;
  background: #fff;
  z-index: 0;
}
.camera_wrap img {
  max-width: none !important;
}
.camera_fakehover {
  height: 100%;
  min-height: 60px;
  position: relative;
  width: 100%;
}
.camera_src {
  display: none;
}
.cameraCont,
.cameraContents {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}
.cameraSlide {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.cameraContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}
.camera_target {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  text-align: left;
  z-index: 0;
}
.camera_overlayer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0;
}
.camera_target_content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 2;
}
.camera_loader {
  background: #ffffff url(../images/camera-loader.gif) no-repeat center;
  border: 1px solid #ffffff;
  border-radius: 18px;
  height: 36px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  margin: -18px 0 0 -18px;
  top: 50%;
  width: 36px;
  z-index: 3;
}
.camera_nav_cont {
  height: 65px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 15px;
  width: 120px;
  z-index: 4;
}
.camerarelative {
  overflow: hidden;
  position: relative;
}
.imgFake {
  cursor: pointer;
}
.camera_command_wrap .hideNav {
  display: none;
}
.camera_command_wrap {
  left: 0;
  position: relative;
  right: 0;
  z-index: 4;
}
.showIt {
  display: none;
}
.camera_clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 25px;
  position: relative;
}
.camera_caption {
  display: none;
  left: 20%;
  right: 20%;
  top: 48.3%;
  bottom: 15%;
}
@media (max-width: 1400px) {
  .camera_caption {
    top: 20%;
  }
}
@media (max-width: 991px) {
  .camera_caption {
    top: 10%;
  }
}
.cameraContent .camera_caption {
  display: block;
}
/*================   Custom Layout&Styles   =====================*/
.camera_caption {
  position: absolute;
}
@media (max-width: 991px) {
  .camera_caption h2 {
    font-size: 30px;
  }
}
.camera_caption p {
  color: #fff;
}
@media (max-width: 767px) {
  .camera_caption {
    width: 100%;
    left: 0;
    right: 0;
  }
  .camera_caption .btn {
    padding: 10px 45px;
  }
  .camera_caption .p__mod {
    font-size: 16px;
    padding: 0 5px 0;
  }
}
@media (max-width: 479px) {
  .camera_caption * + .btn {
    margin-top: 20px;
  }
}
.camera_caption > div {
  height: 100%;
}
.camera_pag_ul {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.camera_pag_ul li {
  position: relative;
  display: inline-block;
  width: 390px;
  height: 129px;
  text-align: center;
  cursor: pointer;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  bottom: -40px;
  z-index: 1;
}
@media (max-width: 1199px) {
  .camera_pag_ul li {
    width: 200px;
    height: 100px;
  }
}
.camera_pag_ul li > span {
  display: none;
}
.camera_pag_ul .pag_nav_0 {
  background: url("../images/dot-slider1.jpg") no-repeat;
}
.camera_pag_ul .pag_nav_1 {
  background: url("../images/dot-slider2.jpg") no-repeat;
}
.camera_pag_ul .pag_nav_2 {
  background: url("../images/dot-slider3.jpg") no-repeat;
}
.camera_pag_ul .pag_nav_0:hover,
.camera_pag_ul .pag_nav_1:hover,
.camera_pag_ul .pag_nav_2:hover {
  bottom: -5px;
}
.camera_pag_ul .cameracurrent {
  bottom: -5px;
}
@media (max-width: 767px) {
  .camera_pag {
    display: none;
  }
}
